<p>
  <strong>评论者:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>主体:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to '删除评论', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
