<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-blog">
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">
    <b>Ruby</b>
    China
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">博客</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">社区</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            分类
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">分类一</a></li>
            <li><a class="dropdown-item" href="#">分类二</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">分类三</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">友链</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="请输入你想搜索的内容" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">

博客有 <%= Article.public_count %> 篇文章
  <div class="row">
    <div class="col-sm-9">
    <div class="card">
    <ul class="list-group list-group-flush">
    <% @articles.each do |article| %>
      <li class="list-group-item">
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
  </div>
  <nav aria-label="..." class="card">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
  </div>
    <div class="col-sm-3"><div class="card"><div class="card-body"><%= link_to "创建新文章", new_article_path %></div></div></div></div>
  </div>
</div>